
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
;

html,body{
    height: 100%;
    width: 100%;
}

body{
    font-family: 'changa',sans-serif;
    font-size: 25px;

    color:rgb(15, 238, 15);
    background:black;
}
#text_a p{
    color: red;
    text-align: center;
    justify-content: center;
}
.video-background {
    position: relative;
    height:100%;
    width: 100%;
    overflow: hidden;
}

#bgVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size:cover;
}

